* {
    box-sizing: border-box;
}

/* CSS Reset */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.padding-5 {
    padding: 5px 0px;
}

form button {
    width: 100%;
    margin-bottom: 20px;
}

::placeholder {
    color: gray;
    opacity: 1;
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: gray;
}

#city-display {
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 2px solid gray;
}

/* wrap words in the card */
.custom-card {
    width: 15%;
    display: inline;
    margin: 1rem;
    font-size: 2vw;
    word-wrap: break-word;
}

#buttonList button {
    width: 100%;
    margin: 10px 0px;
    padding: 5px 0px;
    text-align: center;
    background-color: darkblue;
}

#city-display p {
    margin-top: 10px;
}

.icon-div {
    display: flex;

}

#five-Day-Forecast {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-weight: 600;
}

#clear {
    display: none;
    margin-top: 50px;
}


@media only screen and (max-width: 900px) {
    #five-Day-Forecast {
        flex-direction: column;
    }

    .custom-card {
        width: 75%;
        margin: 50px auto;
    }
}

@media only screen and (max-width: 600px) {
    #five-Day-Forecast {
        flex-direction: column;
    }

    .custom-card {
        width: 75%;
        margin: 50px auto;
    }
}